@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

.weapon-frame {
    width: 100%;
    display: flex;
    justify-content: center;
}

.weapon-contents {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1080px;
}

.weapon-info, .user-select {
    flex-basis: 40%;
    text-align: center;
}

.weapon-image {
    display: flex;
    justify-content: center;
}

.weapon-image > img {
    height: 40vh;
}

.weapon-name {
    display: flex;
    justify-content: center;
    font-family: 'RoundedFixedsys';
    font-size: 2rem;
    margin: 1rem 0;
}

.weapon-desc {
    font-family: 'RoundedFixedsys';
}

.user-money  {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.weapon-price, .strengthening-cost {
    display: inline-block;
    font-size: 1.4rem;
    margin: 1rem;
}

.success-per {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.total-price {
    margin-bottom: 2rem;
}

.user-select > button {
    font-size: 1.2rem;

    margin: 0px 0.5rem;
    width: 8rem;
    height: 3rem;

}