@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

.weapon-frame {
    width: 100%;
    display: flex;
    justify-content: center;
}

.weapon-contents {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1080px;
}

@media(max-width: 800px) {
    .weapon-contents {
        flex-direction: column;
    }
}

.weapon-info, .user-select {
    flex-basis: 50%;
    text-align: center;
}

.weapon-image {
    display: flex;
    justify-content: center;
}

.weapon-image > img {
    width: 30rem;
    height: 20rem;
    background-size: cover;
}

.weapon-name {
    display: flex;
    justify-content: center;
    font-family: 'RoundedFixedsys';
    font-size: 1.8rem;
    margin: 1rem 0;
}

.weapon-desc {
    font-family: 'RoundedFixedsys';
    margin: 1rem 0;
}

.user-money  {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.weapon-price, .strengthening-cost {
    display: inline-block;
    font-size: 1.4rem;
    margin: 1rem;
}

.success-per {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.total-price {
    margin-bottom: 2rem;
}

.user-select > button {
    font-size: 1.2rem;

    margin: 0px 0.5rem;
    width: 8rem;
    height: 3rem;
}

.is-success, .is-failed {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    display: none;
}

.is-success {
    color: #56a871;
    display: none;
}

.is-failed {
    color: #721c1c;
    display: none;
}

.is-success.active, .is-failed.active {
    display: block;
}